#binary
lem-in
hash_valgrind

# Object files
libftprintf/build/*.o
*.o

# Precompiled Headers
*.gch
*.pch

# Temp files
*.sw*

# Libraries
*.lib
*.a
libftprintf/*.a

# Executables
*.out

# Debug files
*.dSYM/*
*/*.dSYM/*
*.su
*.idb
*.pdb

#result
result/*
